services:
  site_dev:
    image: jng_dev/site
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    environment:
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: true
      WATCHPACK_POLLING: true
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - /app/node_modules
  site_prod:
    image: jng_prod/site
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000