html, body {
    height:100%;
    margin:0;

    font-family: 'JetBrains Mono', monospace;
    color: black;
}

a {
    color: royalblue;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    color: darkred;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.base_header {
    display: flex;
    height: 10vh;
    width: 100vw;
    align-items: center;
    justify-content: left;
    border-bottom: 5px solid royalblue;
}

.header_text {
    margin-left: 2vw;
    white-space: nowrap;
    overflow-wrap: anywhere;
    overflow: hidden;
    max-width: 100vw;
}

.base_content {
    display:flex;
    flex: 1;
}

.base_main {
    min-height: 80vh;
    width: 85vw;
}

.main_content {
    padding: 5vh;
}

.base_sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 15vw;
    position: relative;
    border-right: 3px solid royalblue;
}

.sidebar_item {
    margin: 2vh;
}

.sidebar_item_active::before {
    content: "> ";
    left: -1.2rem;
}

.sidebar_item_active::after {
    content: " <";
    right: -1.2rem;
}

.base_footer {
    display:flex;
    height: 10vh;
    width: 100vw;
    align-items: center;
    justify-content: flex-end;
    border-top: 5px solid royalblue;
}

.footer_item {
    margin-left: 2vw;
    margin-right: 2vw;
}

.project_content {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.project_header {
    display: flex;
    flex-direction: row;
}

.project_name {
    width: 80%;
    margin-bottom: 0;
}

.project_date {
    width: 20%;
    text-align: center;
    margin-bottom: 0;
}

.project_description {
    width: 80%;
    margin: 0;
}